# Node.js
node_modules/

# Prisma
prisma/

# Environment variables
.env
.env.local

# Babel configuration
babel.config.js

# Dependency lock files
package-lock.json

# User-specific files
.DS_Store
.vscode/

# Logs
logs/
*.log

# Output of npm
npm-debug.log*

# Editor directories and files
.idea/
.vscode/

# Testing
test/
__tests__/

# Ignore Jest's cache directory
.cache/
